html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #191919;
  background-color: #fff;
  max-width: 192rem;
  margin: 0 auto;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

a {
  text-decoration: none;
}

a:hover, a :focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

img {
  width: 100%;
}

.container {
  max-width: 1046px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.right-arrow {
  display: inline-block;
  width: 16px;
  height: 6px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.section-title {
  font-family: 'Lato', sans-serif;
  color: #191919;
  font-size: 4.8rem;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section-title {
    font-size: 3.6rem;
  }
}

.section-title span {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  color: #4b6cb7;
  font-size: 2.4rem;
  font-weight: normal;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
}

@media screen and (max-width: 767px) {
  .section-title span {
    font-size: 2rem;
  }
}

.section-title span::after {
  position: absolute;
  content: "";
  background: #4b6cb7;
  width: 2px;
  height: 70%;
  top: 15%;
  left: 0;
  -webkit-transform: skewX(135deg);
          transform: skewX(135deg);
}

.section-title_white {
  color: #fff;
}

.section-title_white span {
  color: #fff;
}

.section-title_white span::after {
  background: #fff;
}

.section-copy {
  color: #191919;
  font-size: 3.2rem;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .section-copy {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section-copy {
    font-size: 2.8rem;
  }
}

.section-text {
  color: #191919;
  font-size: 1.6rem;
  letter-spacing: .32px;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .section-text {
    font-size: 1.4rem;
  }
}

.section-text_white {
  color: #fff;
}

.section-link {
  display: block;
  color: #fff;
  background: #4b6cb7;
  font-size: 1.6rem;
  text-align: center;
  width: 256px;
  padding: 2.4rem 0;
}

@media screen and (max-width: 767px) {
  .section-link {
    font-size: 1.4rem;
    padding: 1.5rem 0;
    margin: 0 auto;
  }
}

.section-arrow {
  margin-bottom: 3px;
  margin-left: 14px;
}

.loading {
  background: #4b6cb7;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.loading__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading__img {
  width: 271px;
  height: 58px;
}

.loader {
  margin: 100px auto;
  font-size: 14px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    -webkit-box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
            box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@keyframes load5 {
  0%,
  100% {
    -webkit-box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
            box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.header {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background: linear-gradient(to right, #4b6cb7, #182848);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  z-index: 99;
  padding: 0 4rem;
}

@media screen and (max-width: 767px) {
  .header {
    display: block;
    height: 56px;
    padding: 1.5rem 0 0 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
  }
}

.header.scrolled {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: hd-scrolled 0.65s cubic-bezier(0.25, 1, 0.25, 1);
          animation: hd-scrolled 0.65s cubic-bezier(0.25, 1, 0.25, 1);
}

.header.open {
  background: #4b6cb7;
}

@-webkit-keyframes hd-scrolled {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes hd-scrolled {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.header__logo-box {
  display: block;
  margin-right: 3rem;
}

@media screen and (max-width: 767px) {
  .header__logo-box {
    width: 120px;
    height: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo-box {
    margin-right: 0;
  }
}

.header__logo-box:hover, .header__logo-box :focus {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: .75;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  position: relative;
  padding-right: 2rem;
  margin-left: 2rem;
}

@media screen and (max-width: 767px) {
  .header__nav-item {
    padding-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__nav-item {
    padding-right: 1rem;
    margin-left: 1.5rem;
  }
}

.header__nav-item::after {
  position: absolute;
  display: inline-block;
  content: "";
  background: #fff;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transform: skewX(135deg);
          transform: skewX(135deg);
}

@media screen and (max-width: 767px) {
  .header__nav-item::after {
    display: none;
  }
}

.header__nav-item:first-child {
  margin-left: 0;
}

.header__nav-item:last-child {
  padding-right: 0;
}

.header__nav-item:last-child::after {
  content: none;
}

.header__nav-item.scrolled::after {
  background: #191919;
}

.header__link {
  display: block;
  color: #fff;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__link {
    font-size: 1.4rem;
  }
}

.header__link:hover, .header__link :focus {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: .75;
}

.header__link span {
  display: block;
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
}

.header__link.scrolled {
  color: #191919;
}

@media screen and (max-width: 767px) {
  .sp-nav {
    position: fixed;
    display: none;
    background: #4b6cb7;
    height: 100vh;
    width: 100vw;
    top: 56px;
    left: 0;
  }
  @supports (-webkit-touch-callout: none) {
    .sp-nav .sp-nav {
      height: -webkit-fill-available;
    }
  }
  .sp-nav.open {
    display: block;
  }
  .sp-nav__list {
    display: block;
    text-align: center;
  }
  .sp-nav__item {
    margin-bottom: 2rem;
  }
  .sp-nav__item:last-child {
    margin-bottom: 0;
  }
  .sp-nav__link {
    color: #fff !important;
  }
  .sp-nav__link_block {
    color: #191919 !important;
  }
  .sp-nav__link span {
    font-size: 1.4rem;
    margin-top: 7px;
  }
}

@media screen and (max-width: 767px) {
  #hamburger {
    position: absolute;
    width: 2rem;
    top: 50%;
    right: 5.3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
}

.hamburger-btn {
  text-decoration: none;
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hamburger-btn {
    display: block;
  }
}

.hamburger-line {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburger-line::before, .hamburger-line::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburger-line::before {
  top: -5px;
}

.hamburger-line::after {
  top: 5px;
}

.hamburger-line.scrolled {
  background: #191919;
}

.hamburger-line.scrolled.open {
  background-color: transparent;
}

.hamburger-line.scrolled.open::before, .hamburger-line.scrolled.open::after {
  background-color: #191919;
}

.hamburger-line.open {
  background-color: transparent;
}

.hamburger-line.open::before, .hamburger-line.open::after {
  background-color: #fff !important;
}

.hamburger-line.open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 48%;
}

.hamburger-line.open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 48%;
}

.mv {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background: linear-gradient(to right, #4b6cb7, #182848);
  height: 68.8rem;
}

@media screen and (max-width: 767px) {
  .mv {
    height: 61.1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mv {
    height: 60rem;
  }
}

.mv__img {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  -webkit-animation: anime 18s 0s infinite;
          animation: anime 18s 0s infinite;
}

.mv__img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.mv__img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.mv__img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.mv__img_1 {
  background-image: url(../img/top-image-1.png);
}

@media screen and (max-width: 767px) {
  .mv__img_1 {
    background-image: url(../img/top-image-sp-1.png);
  }
}

.mv__img_2 {
  background-image: url(../img/top-image-2.png);
}

@media screen and (max-width: 767px) {
  .mv__img_2 {
    background-image: url(../img/top-image-sp-2.png);
  }
}

.mv__img_3 {
  background-image: url(../img/top-image-3.png);
}

@media screen and (max-width: 767px) {
  .mv__img_3 {
    background-image: url(../img/top-image-sp-3.png);
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
  }
}

.mv__wrapper {
  position: relative;
  top: 15.6%;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .mv__wrapper {
    top: 18.3%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mv__wrapper {
    top: 10%;
  }
}

.mv__copy {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 9.6rem;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 1.92px;
  text-shadow: 4.2px 4.2px 4px rgba(24, 40, 72, 0.5);
}

@media screen and (max-width: 767px) {
  .mv__copy {
    font-size: 4.8rem;
    line-height: 1.2;
    letter-spacing: .96px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mv__copy {
    font-size: 7.2rem;
  }
}

.mv__leads {
  display: inline-block;
  margin-top: 3.18rem;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .mv__leads {
    margin-top: 2.38rem;
    margin-left: 10px;
  }
}

.mv__lead {
  display: inline-block;
  position: relative;
  font-size: 3.2rem;
  font-weight: bold;
  padding: 1.6rem 5.4rem;
}

@media screen and (max-width: 767px) {
  .mv__lead {
    font-size: 1.95rem;
    padding: .8rem 1.2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mv__lead {
    font-size: 2.6rem;
    padding: 1.4rem 4.2rem;
  }
}

.mv__lead:first-child {
  margin-bottom: 1.6rem;
}

@media screen and (max-width: 767px) {
  .mv__lead:first-child {
    margin-bottom: 1.4rem;
  }
}

.mv__lead:last-child {
  display: block;
}

.mv__lead::after {
  content: "";
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 6px 6px #182848;
          box-shadow: 6px 6px #182848;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: skewX(135deg);
          transform: skewX(135deg);
}

@media screen and (max-width: 767px) {
  .mv__lead::after {
    -webkit-box-shadow: 3px 3px #182848;
            box-shadow: 3px 3px #182848;
  }
}

.news {
  position: relative;
  margin-top: 10rem;
}

@media screen and (max-width: 767px) {
  .news {
    margin-top: 13.4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news {
    margin-top: 8rem;
  }
}

.news a {
  display: block;
}

.news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #182848;
  font-size: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.4rem;
  padding: 0 4.6rem;
}

@media screen and (max-width: 767px) {
  .news__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: linear-gradient(60deg, #182848 80%, transparent 80%);
    font-size: 1.4rem;
    width: 74px;
    height: auto;
    padding: .6rem 1.3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news__body {
    padding: 0 3rem;
  }
}

.news__body p {
  color: #fff;
  margin-right: 8.8rem;
}

@media screen and (max-width: 767px) {
  .news__body p {
    margin-right: 0;
  }
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 71%;
  height: 100%;
  -webkit-transform: skewX(135deg);
          transform: skewX(135deg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .news__content {
    position: absolute;
    border: solid 1px #182848;
    font-size: 1.4rem;
    width: 100%;
    -webkit-transform: skewX(0);
            transform: skewX(0);
    top: 100%;
    left: 0;
    padding: 1.8rem .8rem;
  }
}

.news__content time {
  display: block;
  color: #191919;
  -webkit-transform: skewX(-135deg);
          transform: skewX(-135deg);
  margin-right: 2.4rem;
}

@media screen and (max-width: 767px) {
  .news__content time {
    -webkit-transform: skewX(0);
            transform: skewX(0);
    margin-right: 2.1%;
  }
}

.news__category {
  color: #fff;
  background: #b8614b;
  font-size: 1.2rem;
  border-radius: 6px;
  -webkit-transform: skewX(-135deg);
          transform: skewX(-135deg);
  padding: .8rem 1.6rem;
  margin-right: 2.4rem !important;
}

@media screen and (max-width: 767px) {
  .news__category {
    -webkit-transform: skewX(0);
            transform: skewX(0);
    padding: .3rem .9rem;
    margin-right: 2.1% !important;
  }
}

.news__title {
  color: #191919;
  -webkit-transform: skewX(-135deg);
          transform: skewX(-135deg);
}

@media screen and (max-width: 767px) {
  .news__title {
    -webkit-transform: skewX(0);
            transform: skewX(0);
  }
}

@media screen and (max-width: 767px) {
  .news .right-arrow {
    display: none;
  }
}

.services {
  background: linear-gradient(135deg, #f0f0f0 70%, #fff 70%, #fff 90%, #f0f0f0 90%);
  height: 43.5rem;
  padding-top: 4rem;
  margin-top: 16rem;
  margin-bottom: 20.5rem;
}

@media screen and (max-width: 767px) {
  .services {
    background: linear-gradient(115deg, #f0f0f0 60%, #fff 60%, #fff 90%, #f0f0f0 90%);
    height: auto;
    padding-top: 0;
    padding-bottom: 4.8rem;
    margin-top: 12rem;
    margin-bottom: 12rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 10rem;
    margin-bottom: 15rem;
  }
}

.services__inner {
  max-width: 119rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .services__inner {
    display: block;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services__inner {
    height: auto;
  }
}

.services__img {
  height: 100%;
}

.services__img-wrapper {
  width: 52.1%;
}

@media screen and (max-width: 767px) {
  .services__img-wrapper {
    width: 100%;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services__img-wrapper {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services__img {
    height: auto;
  }
}

.services__body {
  width: 46%;
}

@media screen and (max-width: 767px) {
  .services__body {
    width: 100%;
    padding: 0 1.5rem;
  }
}

.services__copy {
  margin-top: 4rem;
  margin-bottom: 3.1rem;
}

@media screen and (max-width: 767px) {
  .services__copy {
    margin-top: 3.1rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services__copy {
    margin: 2rem 0;
  }
}

.services__text {
  margin-bottom: 5.1rem;
}

@media screen and (max-width: 767px) {
  .services__text {
    margin-bottom: 3.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services__text {
    margin-bottom: 2rem;
  }
}

.about {
  background: url(../img/background-image-about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 16rem;
}

@media screen and (max-width: 767px) {
  .about {
    background: none;
    padding: 0;
    margin-bottom: 12rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about {
    margin-bottom: 12rem;
  }
}

.about__img-wrapper_sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .about__img-wrapper_sp {
    display: block;
    margin-bottom: 4.6rem;
  }
}

.about__body {
  background: #fff;
  max-width: 50.4rem;
  height: 57.6rem;
  padding-top: 4.8rem;
  padding-right: 4.8rem;
  padding-left: 4.8rem;
}

@media screen and (max-width: 767px) {
  .about__body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about__body {
    margin: 0 auto;
  }
}

.about__text {
  margin-top: 3.8rem;
  margin-bottom: 4.5rem;
}

.about__img {
  height: 120px;
}

.about__img-wrapper {
  width: 81%;
  height: 120px;
  margin-top: 3.2rem;
}

@media screen and (max-width: 767px) {
  .about__img-wrapper {
    display: none;
  }
}

.works {
  background: linear-gradient(135deg, #f0f0f0 15%, #fff 15%, #fff 85%, #f0f0f0 85%);
  margin-bottom: 16rem;
}

@media screen and (max-width: 767px) {
  .works {
    background: linear-gradient(115deg, #f0f0f0 15%, #fff 15%, #fff 85%, #f0f0f0 85%);
    padding-top: 3.1rem;
    padding-bottom: 4rem;
    margin-bottom: 12rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .works {
    margin-bottom: 12rem;
  }
}

.works__inner {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .works__inner {
    text-align: left;
  }
}

.works__copy {
  margin-top: 3.8rem;
  margin-bottom: 4.1rem;
}

@media screen and (max-width: 767px) {
  .works__copy {
    margin-top: 3.1rem;
    margin-bottom: 2.9rem;
  }
}

.works__text {
  margin-bottom: 5.6rem;
}

@media screen and (max-width: 767px) {
  .works__text {
    margin-bottom: 4.3rem;
  }
}

.works__cards {
  text-align: left;
  margin-bottom: 4rem;
}

.works__cards-wrapper {
  max-width: 1046px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .works__cards-wrapper {
    padding: 0;
  }
}

.works .section-link {
  margin: 0 auto;
}

.performance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.performance a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 46.5%;
}

@media screen and (max-width: 767px) {
  .performance a {
    width: 100%;
  }
  .performance a:hover, .performance a :focus {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 767px) {
  .performance {
    display: block;
  }
}

.performance__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 10px 0 rgba(25, 25, 25, 0.25);
          box-shadow: 0 0 10px 0 rgba(25, 25, 25, 0.25);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 767px) {
  .performance__item {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 4rem;
  }
}

.performance__item:hover, .performance__item :focus {
  -webkit-box-shadow: 0 0 30px 0 rgba(25, 25, 25, 0.25);
          box-shadow: 0 0 30px 0 rgba(25, 25, 25, 0.25);
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 767px) {
  .performance__item:hover, .performance__item :focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.performance__img {
  display: block;
  height: 100%;
}

.performance__img-wrapper {
  position: relative;
  height: 240px;
}

@media screen and (max-width: 767px) {
  .performance__img-wrapper {
    height: auto;
  }
}

.performance__badge {
  position: absolute;
  color: #fff;
  background: #182848;
  font-size: 2.4rem;
  font-weight: normal;
  top: -16px;
  left: -16px;
  padding: 1.5rem;
}

@media screen and (max-width: 767px) {
  .performance__badge {
    font-size: 2rem;
    top: 100%;
    left: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    padding: 1.3rem 2rem;
  }
}

.performance__body {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem 2.4rem;
}

@media screen and (max-width: 767px) {
  .performance__body {
    background: none;
    padding: 0 1.5rem;
    margin-top: 2.2rem;
  }
}

.performance__title {
  color: #b8614b;
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 3.1rem;
}

@media screen and (max-width: 767px) {
  .performance__title {
    font-size: 2rem;
    margin-bottom: 2.2rem;
  }
}

.performance__text {
  color: #191919;
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: .32px;
}

@media screen and (max-width: 767px) {
  .performance__text {
    font-size: 1.4rem;
    letter-spacing: .28px;
  }
}

.recruit {
  background: #f0f0f0;
  padding: 8rem 0;
}

@media screen and (max-width: 767px) {
  .recruit {
    background: #fff;
    padding: 0 0 13rem 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .recruit {
    padding: 5rem 0;
  }
}

.recruit__inner {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .recruit__inner {
    text-align: left;
  }
}

.recruit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9.8rem;
  margin-bottom: 10.4rem;
}

@media screen and (max-width: 767px) {
  .recruit__list {
    display: block;
    margin-top: 3.4rem;
    margin-bottom: 4rem;
  }
}

.recruit__list a {
  position: relative;
  display: block;
  width: 30.7%;
  max-height: 240px;
}

@media screen and (max-width: 767px) {
  .recruit__list a {
    width: 100%;
    height: auto;
  }
  .recruit__list a:hover, .recruit__list a :focus {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .recruit__list a {
    width: 32%;
  }
}

.recruit__list a:first-child {
  top: 4rem;
}

@media screen and (max-width: 767px) {
  .recruit__list a:first-child {
    top: auto;
  }
}

.recruit__list a:last-child {
  top: -4rem;
}

@media screen and (max-width: 767px) {
  .recruit__list a:last-child {
    top: auto;
  }
}

.recruit__img {
  display: block;
}

.recruit__caption {
  position: absolute;
  color: #fff;
  background-color: rgba(24, 40, 72, 0.64);
  font-size: 1.6rem;
  text-align: left;
  width: 264px;
  top: 86.7%;
  left: 17.9%;
  padding: 20px 16px 20px 16px;
}

@media screen and (max-width: 767px) {
  .recruit__caption {
    background: transparent;
    width: auto;
    top: 84%;
    left: 5.6%;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .recruit__caption {
    font-size: 1.4rem;
    width: 200px;
    padding: 15px 10px;
  }
}

.recruit .section-link {
  margin: 0 auto;
}

.caption-arrow {
  position: relative;
  float: right;
  top: 5px;
}

.contact {
  background: url(../img/bckground-image-contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 0;
}

@media screen and (max-width: 767px) {
  .contact {
    padding-top: 9rem;
    padding-bottom: 9.6rem;
  }
}

.contact__inner {
  max-width: 750px;
  text-align: center;
  padding: 0 1.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .contact__inner {
    text-align: left;
  }
}

.contact__text {
  margin-top: 4rem;
  margin-bottom: 5.5rem;
}

@media screen and (max-width: 767px) {
  .contact__text {
    margin: 3.2rem 0;
  }
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .contact__links {
    display: block;
  }
}

.contact__link {
  display: block;
  -webkit-box-shadow: 0px 2px 4px 0 rgba(25, 25, 25, 0.46);
          box-shadow: 0px 2px 4px 0 rgba(25, 25, 25, 0.46);
  width: 320px;
}

@media screen and (max-width: 767px) {
  .contact__link {
    width: 100%;
  }
}

.contact__link_execution {
  background: #b8614b;
}

@media screen and (max-width: 767px) {
  .contact__link_execution {
    margin-bottom: 2.4rem;
  }
}

.contact__link_execution::before {
  position: relative;
  content: "";
  display: inline-block;
  background: url(/img/Backhoe.png);
  width: 24px;
  height: 18px;
  top: 2px;
  margin-right: 16px;
}

.contact__link_production {
  background: #191919;
}

.contact__link_production::before {
  position: relative;
  content: "";
  display: inline-block;
  background: url(/img/Factory.png);
  width: 20px;
  height: 17px;
  top: 2px;
  margin-right: 16px;
}

.footer {
  background: #182848;
  padding-top: 8.7rem;
  padding-bottom: 12rem;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 4rem;
    padding-bottom: 4.3rem;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer__logo-box {
  display: block;
}

@media screen and (max-width: 767px) {
  .footer__logo-box {
    width: 159px;
  }
  .footer__logo-box:hover, .footer__logo-box :focus {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .75;
  }
}

.footer__address {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: .32px;
  margin-top: 3.9rem;
}

@media screen and (max-width: 767px) {
  .footer__address {
    font-size: 1.4rem;
    letter-spacing: 0;
    margin-top: 2.3rem;
  }
}

.footer__address p {
  margin-bottom: 2.4rem;
}

@media screen and (max-width: 767px) {
  .footer__address p {
    margin-bottom: 1.6rem;
  }
}

.footer__address p:last-child {
  margin-bottom: 0;
}

.footer__address a {
  display: block;
  color: #fff;
  margin-bottom: 2.4rem;
}

.footer__right {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

@media screen and (max-width: 767px) {
  .footer__right {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    margin-bottom: 8.1rem;
  }
}

.footer__nav-item {
  font-size: 1.6rem;
  letter-spacing: .32px;
  margin-right: 2.2rem;
}

@media screen and (max-width: 767px) {
  .footer__nav-item {
    font-size: 1.4rem;
    letter-spacing: 0;
    margin-right: 0;
    margin-bottom: 2.4rem;
  }
}

.footer__nav-item:nth-of-type(4) {
  margin-right: 78px;
}

@media screen and (max-width: 767px) {
  .footer__nav-item:nth-of-type(4) {
    margin-bottom: 6.4rem;
  }
}

.footer__nav-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__nav-item:last-child {
    margin-bottom: 0;
  }
}

.footer__nav-item a {
  display: block;
  color: #fff;
}

.footer__nav-item a:hover, .footer__nav-item a :focus {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: .75;
}

.copyright {
  color: #fff;
  background: #191919;
  font-size: 1.2rem;
  padding: 2.4rem 0;
}

@media screen and (max-width: 767px) {
  .copyright {
    font-size: 1rem;
    padding: 1.5rem 0;
  }
}
